<form class="form mat-elevation-z5">
  <h1>Cadastro de Ordem de Serviço</h1>
  <div class="create">
    <mat-form-field appearance="fill">
      <mat-label>Selecione um técnico:</mat-label>
      <mat-select [(value)]="serviceOrder.technician">
        <mat-option
          *ngFor="let technician of technicians"
          value="{{ technician.id }}"
          required
          >{{ technician.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Selecione um cliente:</mat-label>
      <mat-select [(value)]="serviceOrder.client">
        <mat-option *ngFor="let client of clients" value="{{ client.id }}">{{
          client.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Selecione a prioridade:</mat-label>
      <mat-select [(value)]="serviceOrder.priority">
        <mat-option value="low">BAIXA</mat-option>
        <mat-option value="medium">MÉDIA</mat-option>
        <mat-option value="high">ALTA</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Selecione o status:</mat-label>
      <mat-select [(value)]="serviceOrder.status">
        <mat-option value="opened">ABERTO</mat-option>
        <mat-option value="in_progress">EM ANDAMENTO</mat-option>
        <mat-option value="finished">FECHADO</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Observações:</mat-label>
      <textarea
        [(ngModel)]="serviceOrder.notes"
        name="notes"
        matInput
        maxlength="150"
      ></textarea>
    </mat-form-field>

    <div class="buttons">
      <button
        (click)="create()"
        mat-flat-button="primary"
        class="mat-elevation-z2"
      >
        <p>Criar</p>
      </button>
      <button
        (click)="cancel()"
        mat-flat-button="primary"
        class="mat-elevation-z2 cancel"
      >
        <p>Cancelar</p>
      </button>
    </div>
  </div>
</form>
