.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-card,
.mat-card-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  padding: 0;
}

.mat-card-title {
  font-size: 2rem;
  color: var(--dark-grey);
  font-weight: 600;
}

.mat-card-subtitle {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  text-align: justify;
  font-size: 1rem;
  color: var(--medium-grey);
  width: 60%;
}

img {
  max-width: 550px;
}
