<form class="form mat-elevation-z5">
  <h1>Deleção de Técnico</h1>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Nome completo</mat-label>
    <input
      disabled
      [(ngModel)]="technician.name"
      name="name"
      matInput
    />
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>CPF</mat-label>
    <input
      disabled
      [(ngModel)]="technician.cpf"
      name="cpf"
      matInput
    />
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Telefone</mat-label>
    <input
      disabled
      [(ngModel)]="technician.phoneNumber"
      name="phoneNumber"
      matInput
    />
  </mat-form-field>
  <div class="delete">
    <button
      (click)="delete()"
      mat-flat-button="primary"
      class="mat-elevation-z2"
    >
      <p>Confirmar</p>
    </button>
    <button
      (click)="cancel()"
      mat-flat-button="primary"
      class="mat-elevation-z2 cancel"
    >
      <p>Cancelar</p>
    </button>
  </div>
</form>
