<div class="create">
  <button
    (click)="navigateToCreate()"
    mat-flat-button="primary"
    class="mat-elevation-z2"
  >
    <p>Criar novo cliente</p>
  </button>
</div>

<div class="mat-elevation-z5 container">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef>CPF</th>
      <td mat-cell *matCellDef="let element">{{ element.cpf }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef>Telefone</th>
      <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="update/{{ element.id }}"
          ><i
            style="color: var(--green)"
            class="material-icons edit md-20"
            title="Editar"
            >edit</i
          ></a
        >
        <a routerLink=""
          ><i
            style="color: var(--purple)"
            class="material-icons md-20"
            title="Deletar"
            >delete</i
          ></a
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    class="paginator"
    [pageSizeOptions]="[2, 4]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
