<form class="form mat-elevation-z5">
    <h1>Deleção de Cliente</h1>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nome completo</mat-label>
      <input
        disabled
        [(ngModel)]="client.name"
        name="name"
        matInput
      />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>CPF</mat-label>
      <input
        disabled
        [(ngModel)]="client.cpf"
        name="cpf"
        matInput
      />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Telefone</mat-label>
      <input
        disabled
        [(ngModel)]="client.phoneNumber"
        name="phoneNumber"
        matInput
      />
    </mat-form-field>
    <div class="delete">
      <button
        (click)="delete()"
        mat-flat-button="primary"
        class="mat-elevation-z2"
      >
        <p>Confirmar</p>
      </button>
      <button
      (click)="cancel()"
        mat-flat-button="primary"
        class="mat-elevation-z2 cancel"
      >
        <p>Cancelar</p>
      </button>
    </div>
  </form>
  