/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
}

:root {
  --bg-color: #f5f5f5;
  --white: #fffff2;
  --dark-grey: #263238;
  --medium-grey: #999799;
  --light-grey: #e6e6e6;
  --dark-blue: #1E2F4D;
  --purple: #343047;
  --green: #60BE92;
  --yellow: #FFD700;
  --red: #FF4500;
}
